# ======================================
# Python
# ======================================
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/

# IDE
.idea/

# ======================================
# Virtual Environment
# ======================================
venv/
.venv/
env/
ENV/

# ======================================
# Streamlit
# ======================================
.streamlit/secrets.toml
!.streamlit/config.toml

# ======================================
# VS Code
# ======================================
.vscode/

# ======================================
# Pytest / Coverage
# ======================================
.pytest_cache/
.coverage
htmlcov/

# ======================================
# Jupyter
# ======================================
.ipynb_checkpoints/

# ======================================
# macOS
# ======================================
.DS_Store

# ======================================
# Windows
# ======================================
Thumbs.db
desktop.ini

# ======================================
# Logs
# ======================================
*.log

# ======================================
# Environment Variables
# ======================================
.env
.env.*